article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]), [hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

p {
  margin: 0 0 1.5em 0;
}

pre, code, kbd, samp {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/bebasneue/BebasNeue-webfont.eot");
  src: url("../fonts/bebasneue/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue/BebasNeue-webfont.woff") format("woff"), url("../fonts/bebasneue/BebasNeue-webfont.ttf") format("truetype"), url("../fonts/bebasneue/BebasNeue-webfont.svg#BebasNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: normal;
  color: #333333;
}

h2 {
  background: url("../images/dashed-line.png") center top repeat-x;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
}
h2 span {
  display: block;
  color: #00cc99;
}

h3 {
  font-weight: 700;
}
h3.invited {
  background: url("../images/and.png") center center no-repeat;
  line-height: 105px;
  height: 105px;
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 36px;
  font-weight: normal;
}

p {
  line-height: 25px;
}
p.address {
  text-align: center;
}

a {
  color: #333333;
}
a:hover {
  color: #00cc99;
}

.register a {
  display: block;
  background-color: #00cc99;
  color: white;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 106px;
  height: 46px;
  padding: 30px 0;
  -webkit-border-radius: 106px;
  -moz-border-radius: 106px;
  -ms-border-radius: 106px;
  -o-border-radius: 106px;
  border-radius: 106px;
  margin: 0 auto;
}

.signup-greeting {
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 80px;
  font-weight: bold;
  color: #eeeeee;
  line-height: 1em;
  text-align: center;
  bottom: -230px;
  left: 0;
  max-width: 360px;
  z-index: -1;
}

label {
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 20px;
}

textarea {
  line-height: 1.2em;
}

.help-inline {
  float: right;
  font-size: 12px;
}

body {
  color: #666666;
}

#wrap {
  max-width: 360px;
  min-height: 100%;
  margin: 0 auto;
}

#site-main {
  padding-bottom: 90px;
}
#site-main .structure {
  position: relative;
}

#site-header {
  height: 70px;
  background: url("../images/ro-logo.png") center 40px no-repeat;
  padding-top: 40px;
}

footer {
  background: #eeeeee url("../images/dashed-line.png") center top repeat-x;
  font-size: 12px;
  position: relative;
  margin-top: -90px;
  height: 90px;
  zoom: 1;
}
footer:before, footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
footer .structure {
  margin-top: 20px;
}
footer p {
  max-width: 360px;
  margin: -5px auto 0 auto;
  text-align: left;
}
footer p a {
  text-decoration: none;
  font-weight: 700;
}
footer p a:hover {
  color: #333333;
  text-decoration: underline;
}
footer p a:before {
  content: "| ";
}
footer p a:first-child:before {
  content: "";
}

form {
  margin: 0 0 18px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  line-height: 27px;
  border: 0;
  border-bottom: 1px solid #eeeeee;
}
legend small {
  font-size: 13.5px;
  color: #999999;
}

label {
  display: none;
  margin-bottom: 5px;
}

input,
textarea,
select,
.uneditable-input {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  padding: 4px;
  margin-bottom: 9px;
  color: #555555;
  background: none;
  border: 0;
  border-bottom: 1px solid #d4d4d4;
  resize: none;
  font-family: "Adobe Caslon Pro", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 20px;
}
input:focus,
textarea:focus,
select:focus,
.uneditable-input:focus {
  outline: none;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

label input,
label textarea,
label select {
  display: block;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  border: 0 \9 ;
}

input[type="image"] {
  border: 0;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: initial;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
}

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

input[type="file"] {
  line-height: 18px \9;
}

select {
  width: 220px;
  background-color: white;
}

select[multiple],
select[size] {
  height: auto;
}

textarea {
  height: auto;
}

input[type="hidden"] {
  display: none;
}

.radio,
.checkbox {
  padding-left: 18px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  padding-top: 5px;
  margin-bottom: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #eeeeee;
  border-color: #dddddd;
  cursor: not-allowed;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  border-color: #c09853;
}
.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
  border-color: #468847;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  border-color: #468847;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  background-color: #eeeeee;
  border-top: 1px solid #dddddd;
  zoom: 1;
}
.form-actions:before, .form-actions:after {
  content: "";
  display: table;
}
.form-actions:after {
  clear: both;
}

.uneditable-input {
  display: block;
  background-color: white;
  border-color: #eeeeee;
  cursor: not-allowed;
}

:-moz-placeholder {
  color: #999999;
}

::-webkit-input-placeholder {
  color: #999999;
}

.help-block,
.help-inline {
  color: #555555;
}

.help-block {
  display: block;
  margin-bottom: 9px;
}

.help-inline {
  padding-left: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-bottom: 0;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

.control-group {
  margin-bottom: 9px;
  zoom: 1;
}
.control-group:before, .control-group:after {
  content: "";
  display: table;
}
.control-group:after {
  clear: both;
}

legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 18px;
}
.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
  *display: inline-block;
  *margin-left: 0;
  *padding-left: 20px;
}
.form-horizontal .help-block {
  margin-top: 9px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}

.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

.submit {
  display: block !important;
  border: 0;
  background-color: #00cc99;
  color: white;
  font-family: "BebasNeue", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: underline;
  width: 106px !important;
  height: 106px !important;
  padding: 30px 0 !important;
  -webkit-border-radius: 106px;
  -moz-border-radius: 106px;
  -ms-border-radius: 106px;
  -o-border-radius: 106px;
  border-radius: 106px;
  margin: 0 auto;
}

.messages {
  margin: 0;
  padding: 0;
}
.messages li {
  list-style: none;
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.messages li.info {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.messages li.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.messages li.error, .messages li.warning {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.messages .message-close {
  position: relative;
  top: -2px;
  right: -21px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
.messages .message-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
img {
  padding-left: 6px;
  padding-bottom: 10px;
}
