/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #6ab53f;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #6ab53f;
    text-shadow: none;
    color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header, section, article, aside {
    display: block;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
    sushack greens: #0f9643, #6ab53f;
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    background-color: #1a1a1a;
    background-image: url(../img/noise.png);
    background-position: 0 0;
    color: #aaa;
    height: 100%;
}
body {
    padding-top: 100px;
}

a {
    color: #0f9643;
    text-decoration: none;
}
a:hover {
    color: #6ab53f;
}
.page-wrapper {
    text-shadow: 0 1px 1px #000;
}
.section-inner {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto 2em;
}
.banner .section-inner {
    height: 400px;
    background-image: url(../img/sushack-logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -99em;
    display: block;
}
.pull-left,
.pull-right {
    width: 48%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
h2, h3, h4 {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin: 0 0 1em;
    padding: 20px 0;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1em;
    text-align: left;
    padding: 0;
    margin-bottom: 1em;
}
p, li {
    font-size: 1.3em;
}

.centered {
    text-align: center;
}

#map_canvas {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    text-shadow: none;
}
.signup-form {

}
.signup-form .form-elements-left {
    width: 300px;
}
.signup-form .form-elements-right {
    width: 680px;
}
.signup-form .control-group {
    margin: 0 0 10px;
    padding: 0;
    display: block;
}
.signup-form label {
    display: block;
    line-height: 30px;
}
.signup-form em {
    float: right;
    font-size: .8em;
}
.signup-form span {
    display: block;
    line-height: 30px;
    height: 30px;
}
.signup-form label span {
    display: inline;
    line-height: inherit;
    height: auto;
}
.signup-form input,
.signup-form textarea {
    border: 0;
    outline: 0;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.signup-form input {
    width: 100%;
    max-height: 100%;
}
.signup-form textarea {
    width: 100%;
    height: 270px;
    resize: none;
}
.btn {
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1;
    padding: 7px 10px 8px;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    text-decoration: none;
    min-width: 150px;
    display: inline-block;

    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;

    -moz-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
.btn:hover {
    color: #fff;
    cursor: pointer;
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);

    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
}
.btn:active {
    color: #fff;

    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}


.form-submit {
    width: 200px;
    border: 0;
    clear: both;
    color: #fff;
}

.attendees-list {
    margin: 0 auto 40px;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.attendee {
    width: 160px;
    height: 130px;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    margin: 0 0 20px 0;
    float: left;
}
.attendee img {
    margin: 0 5px 10px 30px;
    width: 80px;
    float: left;
    border: 2px solid #fff;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.attendee h5 {
    margin: 0 0 0 30px;
    padding: 0;
    clear: both;
    text-align: left;
    font-size: 1em;
    max-height: 4em;
}
.attendee ul {
    margin: 0;
    padding: 0;

}
.attendee li {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
    width: 30px;
    height: 30px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -99em;
    overflow: hidden;
}
.attendee li a {
    display: block;
}
.attendee .github {
    background-image: url(../img/github.png);
}
.attendee .twitter {
    background-image: url(../img/twitter.png);
}
.sponsors-list {
    margin: 0 0 60px;
    padding: 0;
    list-style: none;
    text-align: center;
}
.sponsor {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.sponsor a {
    margin: 0 40px 40px;
    display: block;
}
.sponsor img {

}
.messages {
    position: fixed;
    margin: 0;
    padding: 20px;
    list-style: none;
    top: 0;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    text-align: center;
    z-index: 10000;
    background-color: #222;
}
.messages li {
    margin: 0;
    padding: 0;
    display: block;
}
.messages .close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #111;
    color: #aaa;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

pre {
   width: 17em;
   margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    /* styles for big screens */

    body {
        padding-top: 20px;
    }
    .section-inner {
        width: 100%;
        padding: 0 40px;
    }

    .banner .section-inner {
        height: 200px;
        background-image: url(../img/sushack-logo-lo.png);
        background-position: 50%;
        background-repeat: no-repeat;
    }
    .where .section-inner {
        padding: 0;
    }
    .where .section-inner p {
        padding: 0 20px;
    }
    .pull-left,
    .pull-right {
        width: 100%;
        float: none;
    }
}
@media screen and (max-width: 500px) {
    .banner .section-inner {
        background-size: contain;
        height: 0;
        padding-bottom: 100px;
    }
    .section-inner {
        padding: 0 20px;
    }
    .where .section-inner {
        padding: 0;
    }
    .section-inner p,
    .section-inner li {
        font-size: 1em;
    }
    h2, h3, h4 {
        margin: 0;
    }
}
