{% extends "base.html" %}

{% block page_title %}
  <h2>Code of Conduct</h2>
{% endblock page_title %}

{% block content %}
  <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

  <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

  <p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for Refresh Oxford.</p>

  <p>If a participant engages in behavior that violates this code of conduct, the hack day organizers may take any action they deem appropriate, including warning the offender or expulsion from the hack day.</p>
  
  <h3>License</h3>
  <p>Conference Code of Conduct by <a href="https://us.pycon.org/2013/about/code-of-conduct/">https://us.pycon.org/2013/about/code-of-conduct/</a> is licensed under a Creative Commons Attribution 3.0 Unported License.</p>
{% endblock %}

