<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SusHack Oxford - Sustainability oriented hack day</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="/static/styles/normalize.css">
        <link rel="stylesheet" href="/static/styles/main.css">
    </head>
    <body>
        <div class="page-wrapper">
    <header class="banner">
        <div class="section-inner">
            <h1>SusHack_ Oxford</h1>
        </div>
    </header>
    <section class="section what">
        <div class="section-inner">
            <h2>
                What is SusHack?
            </h2>
            <div class="pull-left">
                <p>
                    SusHack is a <strong>free</strong> one-day hack day that helps developers get together to create solutions to sustainability problems using their skills in development and lots of coffee.
                </p>
                <p>
                    The aim of the hack day isn't to deliver any polished software, but to rapidly take something from an idea through to a working/demonstrable piece of software.
                </p>
                <p>
                    SusHack is completely free to attend. We've got the space, food/refreshments and WiFi, all you need to bring is yourself and your laptop.
                </p>
            </div>
            <div class="pull-right">
                <p>
                    What kind of things can we make?
                </p>
                <ul>
                    <li>
                        Google Maps route carbon footprint calculator extension, to easily make informed decisions about travel.
                    </li>
                    <li>
                        Calendar to tell you when food you've bought is due to expire, to reduce food wastage.
                    </li>
                    <li>
                        An application for Raspberry Pi to find which bin week it is, then indicate with LEDs next to bins.
                    </li>
                    <li>
                        Or anything you like. You can specify any ideas you've got on the <a href="#form">form below</a>.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section where">
        <div class="section-inner">
            <h2>
                Where is SusHack going to be held?
            </h2>
            <p class="centered">
                SusHack will be hosted by <a href-="http://2degreesnetwork.com">2degrees</a> at their offices in Summertown.
            </p>
            <div id="map_canvas"></div>
            <p class="centered">
                2degrees, 228-240 Banbury Road, Summertown, Oxfordshire, OX27BY.
            </p>
        </div>
    </section>
    <section class="section when">
        <div class="section-inner">
            <h2>
                When is SusHack?
            </h2>
            <p class="centered">
                SusHack will take place on <strong>Saturday 2nd November 2013</strong>.
            </p>
            <h3>
                Schedule
            </h3>
            <p>
                The doors will be open from <strong>9:00</strong>, and there will be coffee to help attendees over the shock of being awake so early on a Saturday.
            </p>
            <p>
                We're hoping to kick-off the hack day by <strong>10:00</strong>, and hack through until <strong>18:00</strong>, with a couple of breaks for <a href="">burritos</a> and <a href="">pizza</a>.
            </p>
            <p>
                From <strong>18:00</strong> until <strong>18:45</strong> we'll be presenting the fruits of our labour (as complete or incomplete as they are) and patting each other on the back.
            </p>
        </div>
    </section>
    <section class="section how" id="form">
        <div class="section-inner">
            <h2>
                How can I participate?
            </h2>
            <p>
                You can sign up using the form below. We won't use your details for anything evil.
            </p>
            <form action="" method="post" class="signup-form">
                <ul class="pull-left form-elements-left">
                    <li>
                        <label>
                            Name
                        </label>
                        <span>
                            <input type="text" />
                        </span>
                    </li>
                    <li>
                        <label>
                            E-mail address
                        </label>
                        <span>
                            <input type="email" />
                        </span>
                    </li>
                    <li>
                        <label>
                            GitHub username
                        </label>
                        <span>
                            <input type="text" />
                        </span>
                    </li>
                    <li>
                        <label>
                            Twitter username
                        </label>
                        <span>
                            <input type="text" />
                        </span>
                    </li>
                    <li>
                        <label>
                            Your skills <em>(comma seperated)</em>
                        </label>
                        <span>
                            <input type="text" />
                        </span>
                    </li>
                </ul>
                <ul class="pull-right form-elements-right">
                    <li>
                        <label>
                            What would you like to work on?
                        </label>
                        <span>
                            <textarea></textarea>
                        </span>
                    </li>
                </ul>
                <button class="pull-right btn form-submit">
                    Send
                </button>
            </form>
        </div>
    </section>
    <section class="section who">
        <div class="section-inner">
            <h2>
                Who is going?
            </h2>
        </div>
        <ul class="attendees-list">

        </ul>
    </section>
    <section class="section sponsors">
        <div class="section-inner">
            <h2>
                Sponsors
            </h2>
        </div>
    </section>
</div>


        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/assets/js/jquery-1.8.0.min.js"></script>
        <script src="/assets/js/jquery.ui.map.full.min.js"></script>
        <script>
        $(function() {
            $('#map_canvas').gmap({
                    scrollwheel: false,
                    navigationControl: true,
                    mapTypeControl: false,
                    scaleControl: false,
                    draggable: false,
                    disableDoubleClickZoom: true,
                    disableDefaultUI: true,
                    mapTypeId: google.maps.MapTypeId.TERRAIN
            }).bind('init', function() {
                var image = new google.maps.MarkerImage(
                    '/assets/img/marker.png',
                    new google.maps.Size(40, 40),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(15, 40)
                );

                $('#map_canvas').gmap('addMarker', {
                    'position': new google.maps.LatLng('51.776557','-1.264402'),
                    'bounds': true,
                    'icon': image
                });
            });
        });
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43559920-1', 'sushack.co.uk');
          ga('send', 'pageview');

        </script>
    </body>
</html>
